* {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(42, 50, 57);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 26px;
}

main {
  padding: 20px;
}

main h1{
    text-align: center;
    margin-bottom: 20px;
}

img{
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.6);
}

section {
    margin-top:40px ;
  margin-bottom: 20px;
  align-items: center;
  background-color: lightgray;
}

section h2 {
  color: #333;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: justify;
  /* display: inline-block; */
border-bottom: 2px solid rgb(42, 50, 57);
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-left:10rem;
    line-height: 1.6;
   margin-bottom: 10px;
   padding-bottom: 10px;

}
/* List styling */
 ul {
    list-style-type: disc;
        padding-left: 10rem;
        margin-bottom: 10px;
     padding-bottom: 10px;
}

 li {
    margin-bottom: 10px;
    line-height: 1.6; 
    padding-bottom: 10px;
}

/* footer */
footer {
  background-color: rgb(42, 50, 57);
color: white;
  text-align: center;
  padding: 10px;
}


